!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %title Simple Sinatra MVC
    %meta{:content => "all,index,follow", :name => "robots"}
    %meta{:content => "Katherine Giron Pe", :name => "author"}
    = yield_content :meta 
    /[if lte IE 9] 
      %link{:href =>"/assets/ie.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}       

  %body
    .container
      .row
        .twelvecol
          -if flash[:notice].present? 
            %div{:class=>"alerts notice clearfix"}= flash[:notice]
          - if flash[:error].present?
            %div{:class=>"alerts errors clearfix"}= flash[:error]
          = yield
